.login-button{
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    --border-radius: 12px;
    margin-top: 50px;
    --box-shadow: none;
}

.img{
    display: block;
    margin: auto;
}